<div class="home3-hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h2 data-animation-direction="from-left" data-animation-delay="100">Notre agence vous aide à trouver le bien qui vous correspond.</h2>
				<p data-animation-direction="from-left" data-animation-delay="300">L’Agence de la Villedieu est située au cœur du quartier de la Villedieu, notre expérience nous permet d’estimer votre bien au  prix  le plus juste en tenant compte du marché actuel , de vous proposer des appartements , ainsi que des maisons sur la Résidence de la Commanderie, de vous accompagner dans vos démarches administratives ou bancaires..</p>
				<a href="/houses" class="btn btn-default-color margin-bottom" data-animation-direction="from-left" data-animation-delay="500">Consulter nos biens</a>
			</div>
			
			<div class="col-sm-5" data-animation-direction="from-right" data-animation-delay="150">
				<div class="mapborder">
					<div id="map_agency" class="gmap">
						<%= image_tag('homeimage.png', class: "image-home") %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- BEGIN PROPERTIES SLIDER WRAPPER-->
<div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">Consultez nos dernières opportunités</h1>
				
				<div id="new-properties-slider" class="owl-carousel carousel-style1">

					<% @houses.each do |house| %>
						<div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
							<div class="image">
								<%= link_to house, class: "info" do %>
									<h3><%= house.name %></h3>
									<span class="location"><%= house.address %></span>
								<% end %>
								<%= image_tag(house.pictures.first.image.url(:large), size: "360x317") %>
							</div>
							<div class="price">
								<% if house.type.name == "Maison" %>
									<i class="icon-house"></i>A vendre
									<span><%= get_price(house.price) + " € FAI" %></span>
								<% elsif house.type.name == "Appartement" %>
									<i class="icon-apartment"></i>A vendre
									<span><%= get_price(house.price) + " € FAI" %></span>
								<% elsif house.type.name == "Location" %>
									<i class="icon-apartment"></i>A louer
									<span><%= get_price(house.price) + " € CC" %></span>
								<% elsif house.type.name == "Terrain" %>
									<i class="icon-garden"></i>A vendre
									<span><%= get_price(house.price) + " € FAI" %></span>
								<% end %>
							</div>
							<ul class="amenities">
								<% if house.type.name != 'Terrain' %>
									<li><i class="icon-area"></i> <%= get_decimal_number(house.area) %> m2</li>
									<li><i class="icon-bedrooms"></i> <%= house.room %></li>
									<li><i class="icon-bathrooms"></i> <%= display_water_room(house) %></li>
								<% else %>
									<li><i class="icon-area"></i> <%= get_decimal_number(house.outdoorarea) %> m2</li>
								<% end %>
							</ul>
						</div>
					<% end %>
				</div>			
			</div>
		</div>
	</div>
</div>
<!-- END PROPERTIES SLIDER WRAPPER -->

<!-- BEGIN CONTENT WRAPPER -->
<div class="row">
		<!-- BEGIN MAIN CONTENT -->
		<div class="main col-sm-8 col-sm-offset-2">
			<h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">Services de l'agence</h1>

			<div class="feature col-sm-4" data-animation-direction="from-bottom" data-animation-delay="250">
				<i class="fa fa-pencil-square-o"></i>
				<h3>Estimation offerte</h3>
				<p>L’agence vous propose une estimation gratuite sous 24h sur rendez-vous.</p>
			</div>
			<div class="feature col-sm-4" data-animation-direction="from-bottom" data-animation-delay="450">
				<i class="icon-house-search"></i>
				<h3>La maison qui vous correspond</h3>
				<p>Un réseau de 11 agences pour trouver le bien qui vous correspond.</p>
			</div>
			<div class="feature col-sm-4" data-animation-direction="from-bottom" data-animation-delay="650">
				<i class="fa fa-thumbs-o-up"></i>
				<h3>Un savoir faire d'expertise</h3>
				<p>Des professionnels qui vous accompagnent dans toutes vos démarches.</p>
			</div>						
		</div>
		<!-- END MAIN CONTENT -->
</div>
<!-- END CONTENT WRAPPER -->