<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<title>Agence De La Villedieu</title>
	<meta name="keywords" content="Agence De La Villedieu centre commercial villedieu 78990 Elancourt, agence immobiliere, la commanderie, Yvelines, Ile-de-France, maison apprtement a vendre " />
	<meta name="description" content="Bienvenue sur le site de l'agence de la villedieu - Agence immobiliere professionnelle. Notre agence est située sur Elancourt proche de la Commanderie des templiers et vous propose des annonces immobilières de location, vente à Maurepas, Elancourt, Le Mesnil Saint Denis…" />
	<meta name="author" content="Maxime Orefice - www.maximeorefice.me" />
	
	<!-- Mobile Meta Tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Fav and touch icons -->
	<!-- <link rel="shortcut icon" type="image/x-icon" href="images/fav_touch_icons/favicon.ico" /> -->
	<!-- <link rel="apple-touch-icon" href="images/fav_touch_icons/apple-touch-icon.png" /> -->
	<!-- <link rel="apple-touch-icon" sizes="72x72" href="images/fav_touch_icons/apple-touch-icon-72x72.png" /> -->
	<!-- <link rel="apple-touch-icon" sizes="114x114" href="images/fav_touch_icons/apple-touch-icon-114x114.png" /> -->
	
	<!-- IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
	<![endif]-->
	
	<!-- Google Web Font -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,500,900%7COpen+Sans:400,700,400italic" rel="stylesheet" type="text/css" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>

</head>
<body>

	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
		<%= render partial: 'layouts/header' %>
		<%= yield %>
		<%= render partial: 'layouts/footer' %>
	</div>
	<!-- END WRAPPER -->

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
